spring.jpa.hibernate.ddl-auto=update

spring.datasource.initialization-mode=always
spring.datasource.platform=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

server.error.whitelabel.enabled=false