<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <span class="navbar-brand">Cliqueify</span>

            <th:block sec:authorize="isAuthenticated()">

                <div class="navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/rooms}">Rooms</a>
                    </div>
                </div>

                    <form class="form-inline" th:action="@{/logout}">
                        <a class="btn btn-primary mr-5" th:href="@{/create-room}" role="button">Create a room</a>

                        <span class="navbar-text mr-4">
                            Logged as <span sec:authentication="name"></span>
                        </span>

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                    </form>
            </th:block>
        </nav>
    </header>

</body>
</html>