<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base/base_layout :: base_layout(~{::title}, ~{::section})">
    <head>
        <title>Cliqueify</title>
    </head>
    <body>

    <section>
        <form th:action="@{/}" th:object="${roomParams}" method="post">
            <label>Room name</label>
            <input type="text" th:field="*{name}" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            <label>Publicity</label>
            <select th:field="*{publicityType}">
                <option th:each="type : ${T(dev.kirillzhelt.cliqueify.model.PublicityType).values()}" th:value="${type}" th:text="${type}"></option>
            </select>
            <p th:if="${#fields.hasErrors('publicityType')}" th:errors="*{publicityType}"></p>

            <label>Active until</label>
            <input type="date" th:field="*{expiryDate}" />
            <p th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}"></p>

            <button>Create room</button>
        </form>
    </section>

    </body>
</html>