<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base/base_layout :: base_layout(~{::title}, ~{::section})">
    <head>
        <title th:text="|Room ${room.id}|"></title>
    </head>
    <body>
        <section>
            <div class="mt-3 ml-5 mb-3">
                <h2 th:text="${room.name}"></h2>

                <button type="button" class="btn btn-primary copy-link-btn">Copy room link to the buffer</button>

                <br />

                <textarea class="form-control mt-5" id="actions-area" style="width: 250px; height: 200px; resize: none" readonly></textarea>

                <br />
                <br />

                <div id="player"></div>

                <br />

                <button class="btn btn-primary" onclick="onPlayButtonClicked()">Play Video</button>
                <button class="btn btn-primary" onclick="onPauseButtonClicked()">Pause Video</button>

            </div>

            <script>
                function copyToClipboard(s) {
                    const el = document.createElement('textarea');
                    el.value = s;
                    el.setAttribute('readonly', '');
                    el.style.position = 'absolute';
                    el.style.left = '-9999px';
                    document.body.appendChild(el);
                    el.select();
                    document.execCommand('copy');
                    document.body.removeChild(el);
                }

                const elements = document.querySelectorAll('.copy-link-btn');
                Array.from(elements).forEach(e => {
                    e.addEventListener('click', () => {
                        const url = window.location.host + '/rooms/link/[[${room.linkToken}]]';
                        copyToClipboard(url);
                    });
                });
            </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
            <script th:src="@{/liveRoomClient.js}"></script>

            <script>
                const liveRoomClient = new LiveRoomClient({
                    'username': '[[${#authentication.getName()}]]',
                    'host': 'http://localhost:8080/live',
                    'sendTo': '/app/live-room/' + '[[${room.id}]]',
                    'subscribeTo': '/topic/' + '[[${room.id}]]',
                });

                function enterRoom() {
                    liveRoomClient.connect(() => {
                        liveRoomClient.sendAction({ type: "ENTER" });
                    }, receiveAction);
                }

                function leaveRoom() {
                    liveRoomClient.sendAction({ type: "LEAVE" });
                }

                function countCurrentElapsedTime(startedToPlay, elapsedTime) {
                    const secondsPassed = (new Date() - Date.parse(startedToPlay)) / 1000;
                    return elapsedTime + secondsPassed;
                }

                function receiveAction(action) {
                    const actionsArea = document.getElementById('actions-area');
                    actionsArea.textContent = actionsArea.textContent + action.username + ' ' + action.action.type + '\n';

                    if (action.username !== '[[${#authentication.getName()}]]') {
                        if (action.action.type === 'PLAY') {
                            playVideoFrom(countCurrentElapsedTime(action.action.startedToPlayTime, action.action.elapsedTime));
                        } else if (action.action.type === 'PAUSE') {
                            pauseVideoOn(action.action.elapsedTimeWhenPaused);
                        }
                    }
                }

                window.onload = () => {
                    enterRoom();
                }

                window.onbeforeunload = () => {
                    leaveRoom();
                }
            </script>

            <script>
                // 2. This code loads the IFrame Player API code asynchronously.
                const tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                const firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                //    after the API code downloads.
                let player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                        height: '390',
                        width: '640',
                        videoId: 'M7lc1UVf-VE',
                        events: {
                            'onReady': onPlayerReady,
                        }
                    });
                }

                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                    playVideoFrom(0);
                    pauseVideo();
                }

                function fillTwoDigits(num) {
                    if (num < 10) {
                        return '0' + num;
                    }

                    return num.toString();
                }

                function formatDate(date) {
                    let formatted = `${date.getFullYear()}-`;

                    formatted += fillTwoDigits(date.getMonth() + 1);
                    formatted += '-';
                    formatted += fillTwoDigits(date.getDate());
                    formatted += 'T';
                    formatted += fillTwoDigits(date.getHours());
                    formatted += ':';
                    formatted += fillTwoDigits(date.getMinutes());
                    formatted += ':';
                    formatted += fillTwoDigits(date.getSeconds());

                    return formatted;
                }

                function onPlayButtonClicked() {
                    playVideo();
                    liveRoomClient.sendAction({
                        type: "PLAY",
                        elapsedTime: player.getCurrentTime(),
                        startedToPlayTime: formatDate(new Date()),
                    });
                }

                function onPauseButtonClicked() {
                    pauseVideo();
                    liveRoomClient.sendAction({ type: "PAUSE", elapsedTimeWhenPaused: player.getCurrentTime() });
                }

                function seekTo(seconds) {
                    player.seekTo(seconds, true);
                }

                function playVideo() {
                    player.playVideo();
                }

                function playVideoFrom(seconds) {
                    seekTo(seconds);
                    playVideo();
                }

                function pauseVideoOn(seconds) {
                    pauseVideo();
                    seekTo(seconds);
                }

                function pauseVideo() {
                    player.pauseVideo();
                }

            </script>

        </section>
    </body>
</html>