<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base/base_layout :: base_layout(~{::title}, ~{::section})">
    <head>
        <title th:text="|Room ${room.id}|"></title>
    </head>
    <body>
        <section>
            <div class="mt-3 ml-5 mb-3">

                <h2 th:text="${room.name}"></h2>

                <button type="button" class="btn btn-primary copy-link-btn">Copy room link to the buffer</button>

                <br />

                <div class="container" style="max-width: 100%;">
                    <div class="row">
                        <div class="col-6">
                            <textarea class="form-control mt-5" id="actions-area" style="width: 250px; height: 200px; resize: none" readonly></textarea>

                            <br />
                            <br />

                            <div id="player"></div>

                            <br />

                            <button class="btn btn-primary" onclick="onPlayButtonClicked()">Synchronized play</button>
                            <button class="btn btn-primary" onclick="onPauseButtonClicked()">Synchronized pause</button>

                        </div>
                        <div class="col-6">
                            <ul>
                                <li><a class="video-item" data-video-id="PsEoh8jOvik">PsEoh8jOvik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                const roomLinkToken = '[[${room.linkToken}]]';
            </script>
            <script th:src="@{/js/clipboard.js}"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
            <script th:src="@{/js/liveRoomClient.js}"></script>

            <script>
                const username = '[[${#authentication.getName()}]]';
                const roomId = '[[${room.id}]]';
            </script>
            <script th:src="@{/js/room.js}"></script>

            <script th:src="@{/js/player.js}"></script>

        </section>
    </body>
</html>